
$background: #F9F9F9;
$border: #DFDCD3;
$h1: #727270;
$additionalServicesGreen: #274D35;
$specialOfferRed: #A72121;
$mainText: #707070;
$price: #373737;
$midGrey: #999999;


* {
    box-sizing: border-box;
    font-family: 'Gill Sans';
    font-weight: lighter;
}


body {
    background-color: $background;height:100%;
    margin: 0;
}


@import './GridProduct.scss';
@import './ProductGrid.scss';
@import './ProductDetails.scss';
