.product {
    background-color: $background;
    border-bottom: 1px solid $border;
    border-right: 1px solid $border;
    color: inherit;
    display: flex;
    flex-direction: column;
    padding: 12px 20px 44px;
    text-decoration: none;
    width: 25%;
    
    .image {
        display: flex;
        min-height: 300px;

        img {
            align-self: center;
            height: auto;
            margin-bottom: 25px;
            width: 100%;
        }
    }

    p {
        margin: 0;

        &.price{
            font-weight: normal;
        }
    }
}